<div id="component">
    <app-menu></app-menu>
    <a routerLink="/cust/create">Create New</a> |
    <input [(ngModel)]="substr" placeholder="search">
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th><button (click)="sortOrder('id')" class="btn btn-link">Id</button></th>
            <th><button (click)="sortOrder('code')" class="btn btn-link">Code</button></th>
            <th><button (click)="sortOrder('name')" class="btn btn-link">Name</button></th>
            <th><button (click)="sortOrder('sales')" class="btn btn-link">Sales</button></th>
            <th><button (click)="sortOrder('active')" class="btn btn-link">Active</button></th>
            <th>Actions</th>
        </tr>
    </thead>
            <tbody>
                <tr *ngFor="let c of custs | searchCustomer: substr | sort:sortCol:sortAsc">
                    <td>{{c.id}}</td>
                    <td>{{c.code}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.sales | currency}}</td>
                    <td>{{c.active | bool: locale}}</td>
                   <td><a routerLink="/cust/details/{{c.id}}">details</a></td> ||
                   <td><a routerLink="/cust/edit/{{c.id}}">edit</a></td>
                </tr>
            </tbody>
        
    </table>
</div>

