<div id="component">
    <app-menu></app-menu>
    <a routerLink="/ord/create">Create New</a> |
    <input [(ngModel)]="ordstr" placeholder="search">
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th><button (click)="sortOrder('id')" class="btn btn-link">Id</button></th>
            <th><button (click)="sortOrder('date')" class="btn btn-link">Date</button></th>
            <th><button (click)="sortOrder('description')" class="btn btn-link">Description</button></th>
            <th><button (click)="sortOrder('total')" class="btn btn-link">Total</button></th>
            <th><button (click)="sortOrder('status')" class="btn btn-link">Status</button></th>
            <th><button (click)="sortOrder('customerId')" class="btn btn-link">Customer</button></th>
            <th>Actions</th>
        </tr>
    </thead>
            <tbody>
                <tr *ngFor="let x of ord | searchOrder: ordstr | sort:sortCol:sortAsc">
                    <td>{{x.id}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.description}}</td>
                    <td>{{ x.total | currency}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.customerId}}</td>
                   <td><a routerLink="/ord/details/{{x.id}}">Details</a></td>|
                   <td><a routerLink="/ord/edit/{{x.id}}">Edit</a></td>|
                   <td><a routerLink="/ord/lines/{{x.id}}">Lines</a></td>
                </tr>
            </tbody>
        
    </table>
</div>


