<h1>Create Order</h1>
<table>
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="ord.id" readonly></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input [(ngModel)]="ord.date" type="datetime-local"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input [(ngModel)]="ord.description" type="text"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input  [(ngModel)]="ord.total" type="text"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input [(ngModel)]="ord.status" type="text"></td>
        </tr>
        <tr>
            <td>Customer</td>
            <td>
                <select [(ngModel)]="ord.customerId">
                    <option *ngFor="let x of custs" value="{{x.id}}">{{x.name}}</option>
                </select>

            </td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Submit</button>
</div>
