<h1>Create Customer</h1>
<table>
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="cust.id" ></td>
        </tr>
        <tr>
            <td>Code</td>
            <td><input [(ngModel)]="cust.code" type="text"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input [(ngModel)]="cust.name" type="text"></td>
        </tr>
        <tr>
            <td>Sales</td>
            <td><input  [(ngModel)]="cust.sales" type="text"></td>
        </tr>
        <tr>
            <td>Active</td>
            <td><input [(ngModel)]="cust.active" type="checkbox"></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Submit</button>
</div>